<h1> <%= @doc.title %> </h1>
<h2> <%= @doc.content %> </h2>

<%= link_to "Edit", edit_document_path(@doc) %>
<%= link_to "Delete", document_path(@doc), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %> <br>
<%= link_to "Back", documents_path %>
